
.hover\:bg-blue-details:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(103, 111, 191, 80%);
}

.hover\:bg-red-delete:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 68, 68, 80%);
}

.hover\:bg-green-new:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(72, 184, 61, 80%);
}

.hover\:text-navigation:hover {
    --tw-text-opacity: 1;
    color: rgba(38, 116, 189, var(--tw-text-opacity));
}

.focus\:border-blue:focus {
    --tw-border-opacity: 1;
    border-color: rgba(104, 117, 245, 80%);
}

.text-blue-pen {
    --tw-text-opacity: 1;
    color: rgba(74, 88, 224, 100%);
}

.text-red-den {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, 95%);
}

.text-green-acc {
    --tw-text-opacity: 1;
    color: rgba(56, 207, 41, 100%);
}

.text-footer-icon {
    --tw-text-opacity: 1;
    color: rgb(110, 143, 172);
}

.bg-blue-pending {
    --tw-bg-opacity: 1;
    background-color: rgba(119, 169, 230, var(--tw-bg-opacity));
}

.bg-blue-upcoming {
    --tw-bg-opacity: 1;
    background-color: rgba(39, 59, 176, var(--tw-bg-opacity));
}

.alertCustom {
    padding: 20px;
    background-color: #2bb956;
    color: white;
    border-radius: 25px;
  }

  .alertCustomWarning {
    padding: 20px;
    background-color: #d62a2a;
    color: white;
    border-radius: 25px;
    margin:10px;
  }

  .alertCustomInfo {
    padding: 20px;
    background-color: #c7a63a;
    color: white;
    border-radius: 25px;
    margin:10px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .designApp{
      /*background-color: #BBDDEE;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='251' height='251' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23071081' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23071081'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");*/     /*  background: rgb(15,106,189);
      background: linear-gradient(166deg, rgba(15,106,189,0.36458333333333337) 0%, rgba(255,255,255,1) 50%, rgba(15,106,189,0.6026785714285714) 100%);*/

      background: rgb(10,65,115);
      background: linear-gradient(166deg, rgba(10,65,115,0.4209033955379027) 0%, rgba(255,255,255,1) 50%, rgba(10,65,115,0.6026785714285714) 100%);

     /* background: rgb(31,38,80);
      background: linear-gradient(166deg, rgba(31,38,80,1) 0%, rgba(31,38,80,0.41220238095238093) 50%, rgba(31,38,80,1) 100%);*/

  }


