
.hover\:bg-blue-details:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(103, 111, 191, 80%);
}

.hover\:bg-red-delete:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 68, 68, 80%);
}

.hover\:bg-green-new:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(72, 184, 61, 80%);
}

.hover\:text-navigation:hover {
    --tw-text-opacity: 1;
    color: rgba(38, 116, 189, var(--tw-text-opacity));
}

.focus\:border-blue:focus {
    --tw-border-opacity: 1;
    border-color: rgba(104, 117, 245, 80%);
}

.text-blue-pen {
    --tw-text-opacity: 1;
    color: rgba(74, 88, 224, 100%);
}

.text-red-den {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, 95%);
}

.text-green-acc {
    --tw-text-opacity: 1;
    color: rgba(56, 207, 41, 100%);
}

.text-footer-icon {
    --tw-text-opacity: 1;
    color: rgb(110, 143, 172);
}

.bg-blue-pending {
    --tw-bg-opacity: 1;
    background-color: rgba(119, 169, 230, var(--tw-bg-opacity));
}

.bg-blue-upcoming {
    --tw-bg-opacity: 1;
    background-color: rgba(39, 59, 176, var(--tw-bg-opacity));
}

.alertCustom {
    padding: 20px;
    background-color: #2bb956;
    color: white;
    border-radius: 25px;
    margin:10px;
  }

  .alertCustomWarning {
    padding: 20px;
    background-color: #d62a2a;
    color: white;
    border-radius: 25px;
    margin:10px;
  }

  .alertCustomInfo {
    padding: 20px;
    background-color: #c7a63a;
    color: white;
    border-radius: 25px;
    margin:10px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .designApp{
      background: rgb(10,65,115);
      background: linear-gradient(166deg, rgba(10,65,115,0.4209033955379027) 0%, rgba(255,255,255,1) 50%, rgba(10,65,115,0.6026785714285714) 100%);
  }

  #map {
    height: 400px;
    width: 100%;
  }
  


